@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Urbanist", serif;
}

.heroBg {
  background-image: url("../assets//background.svg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
}

/* Add this to your CSS file */
/* @keyframes textChange {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-text {
  animation: textChange 2s ease-in-out infinite;
} */

.stroke {
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  background-image:black;
  -webkit-background-clip: text;
  color: white;
  -webkit-text-stroke-width: calc(1em / 16);
  /* background: #00a2ff; */
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 1s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}
.logosSlide {
  white-space: nowrap;
  animation: slide 35s infinite linear;
  /* display: inline-block; */
  padding-right: 2rem; /* Optional: Padding for smooth restart */
}

.logos {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.logos::before,
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),#0027506a);
}

.logos::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),#00275038);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Optional: Pause animation on hover */
.logos-slide:hover {
  animation-play-state: paused;
}